[Unit]
Description=Rabbit OBS package build listener
After=syslog.target network.target
Wants=cobblerd.service

[Service]
RuntimeDirectory=rabbit_obs
RuntimeDirectoryMode=755
ExecStart=+/usr/share/rabbit_obs_client/rabbit_obs_client

[Install]
WantedBy=multi-user.target

